@charset "utf-8";
/*Krannog house day design
 * by Alisa Armsid
 * alisarat@yandex.ru
 * 
 * Last update: 21.07.2014*/

@import "http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin";

@font-face {
    font-family: 'arkhive';
    src: url('font/arkhive-webfont.eot');
    src: url('font/arkhive-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/arkhive-webfont.woff') format('woff'),
         url('font/arkhive-webfont.ttf') format('truetype'),
         url('font/arkhive-webfont.svg#arkhiveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { 
	margin:0;
	padding:0;
	font-size: 14px; color: #333; 
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
	list-style:none;}

a { 
	color: #064602;
    font-size: 14px;
    text-decoration: none;
	}
a:hover { text-decoration: none; color:#57004E; }
a img { border: 0; }
ol,ul{margin-left:25px;}

.chatNew{float:right; }
.list_title{text-align:center; padding-bottom: 10px;}
.list_title a {font-family:arkhive; font-size:26px}

#type_mess, #type_left, #type_stripe,  #type_up, #type_blog, #type_ban {background: url(img/main_bg.jpg) #e4d1a4  repeat 0 0 fixed;}

#type_chat {background: none #FAF2D2 0 0 scroll; font-family: Trebuchet MS,Geneva,Ubuntu,sans-serif;}

.chatName1, .chatName1.status_sprefect, chatName1.status_sdoj {color:#36C} /*pilv color*/
.chatName2, .chatName2.status_sprefect, .chatName2.status_sdoj {color:#f00}/*arcis color*/
.chatName3 {color:#57004E;}/*krannog color*/
.chatName3:hover {color:#2E6B11}

.status_sprefect {color:#57004E} /*Prefect*/
.status_sdoj {color:#57004E} /*Dodj*/

.chatName6 {color:#666} /*suchnost  color*/
.chatName5 {color:#999} /*prof color*/

#type_up .right{float:right;}
#type_up .left{float:left;}
#type_chat div{padding:20px 10px 10px;}
.left_text{padding:10px;}

#type_left #wrapper {
	background: none #e4d1a4;
	-moz-box-shadow: 3px -2px 4px rgba(0,0,0,0.6) inset;
	-webkit-box-shadow: 3px -2px 4px rgba(0,0,0,0.6)inset;
	box-shadow: 3px -2px 4px rgba(0,0,0,0.6) inset;
	min-height:100%;
	overflow-x: hidden;
}
#type_left {overflow-x:hidden}

#type_chat div {box-shadow: 2px -2px 3px rgba(0,0,0,0.6) inset;}
.poloska {height:10px; background: url("img/poloska.png") repeat-x scroll 0 0 transparent;}
#type_mess table {width:100%;}

.class{background:#fcc;}
.form{text-align:center;}
#type_mess .form {margin-top:4px;}
input, select, textarea {    
    background: none repeat scroll 0 0 #FEFCE2;
    border: 1px none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 2px #000000 inset;
    color: #003300;
	}
textarea {padding:3px}
input { padding: 3px; width: 400px;}
select{padding:2px; width:auto;}
button {
	
   background: none repeat scroll 0 0 #ECDFC0;
   color: #000;
    border: 1px none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    overflow: visible;
    padding: 4px;
	}
button:hover, #type_blog button.delete:hover {background:#FEFCE2;}

button.say, button.do {color: #F1DEA9; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);}
button.say {background:#065700;}
button.say:hover {background:#4D1D6E;}
button.do {background:#4D1D6E;}
button.do:hover {background:#065700;}

button{border:none;}

button:active, button:focus {
	position:relative;
	top:1px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
}
h1{font-size:20px;text-align:center;padding-top:15px;}

/*Все transitions отдельно*/

#argLogo a, #hotel a, .image_left a, #rasp a, #lk a, #port a, #dreada a, #note a, #eletter a {
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#upContent .child a, button, .chatName3, #type_left .to_private, #type_left .to_ld {
	-moz-transition: all 0.3s ease; 
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*Стили для шапки*/

#type_up {overflow:hidden}

#upContent {margin:0; text-align:justify; height:148px; background: url("img/poloska.png") repeat-x scroll 0 -4px rgba(0, 0, 0, 0);}
#upContent li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
	margin-top: 11px;
}
#upContent li.helper {content:" ";width:100%;height:1px;}
#argLogo a {
	background:url(img/argemona-logo-shadow.png);
	height:130px;
	width:128px;
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity:0.4;
	margin-left:5px;
}
#argLogo a:hover {
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity:0.9;
}
#upContent a {display:block; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}

#upContent #kranLogo {
	background:url(img/krannog_logo.png) 1px 0 no-repeat;
	height:129px;
    text-align:center;
	margin-top:5px;
}
#upContent .child {
	margin:32px 0 0;
	padding:0;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:left;
	vertical-align:top;
	line-height:127%;
}
#kranLogo ul:first-child {
	text-align:right;
	margin-left:10px;
}
#upContent .child li {display:block; width:auto; margin-top:0;}

#upContent .child a {display: inline;}

li.last, li.prelast {position:relative;}
li.last {left:-26px}
li.prelast {left:-10px}
#kranLogo ul:first-child .last {left:29px;}
#kranLogo ul:first-child .prelast {left:10px;}

#upContent .forum, #upContent .forum a {
	height: 94px;
    width: 83px;
}

#upContent .forum a {display:block;}
#upContent .forum span, #rasp span, #dreada span, #port span, #lk span, #note span, #eletter span {display:none}

#hotel {
	/*float:right; 
	margin-right: 8px;
    margin-top: 24px;*/
	}

#hotel a {height:103px; width: 94px; background:url(img/hotel.png) no-repeat; 
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity:0.7;
	margin-right:5px;
	}
#hotel a:hover, .image_left a:hover {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity:1;
	}
#rasp a {
	height:90px;
	width: 94px;
	background: transparent url(img/raspisanie.png) no-repeat top center;
}

#dreada a {
	height:105px;
	width: 80px;
	background: transparent url(img/dreada.png) no-repeat top center;
}
#note a {
	width:25px;
	height:131px;
	background: transparent url(img/note.png) no-repeat top center;
	position: relative;
    top: -25px;
}
#eletter a {
	width:29px;
	height:132px;
	background: transparent url(img/note2.png) no-repeat top center;
	position: relative;
    top: -25px;
}
#lk a {
	height:100px;
	width: 87px;
	background: transparent url(img/lk.png) no-repeat top center;
}

#port a {
	height:100px;
	width: 100px;
	background: transparent url(img/portklyuch.png) no-repeat top center;
}

#rasp a:hover, #dreada a:hover, #lk a:hover, #port a:hover {
	position:relative;
	-moz-animation: castle 0.2s ease-in-out infinite; /* Firefox */
	-webkit-animation: castle 0.2s ease-in-out infinite; /* Safari and Chrome */
	-o-animation: castle 0.2s ease-in-out infinite;
	animation: castle 0.2s ease-in-out infinite;
}
#note a:hover, #eletter a:hover {top:-15px; -moz-transform: skewX(3deg); -webkit-transform: skewX(3deg); -o-transform: skewX(3deg); transform: skewX(3deg);}
@-moz-keyframes castle /* Firefox */
{
0% {top:0}
50% {top:2px;}
100% {top:0;}
}

@-webkit-keyframes castle /* Safari and Chrome */
{
0% {top:0}
50% {top:2px;)}
100% {top:0;}
}

@-o-keyframes castle /* Opera? */
{
0% {top:0}
50% {top:2px;)}
100% {top:0;}
}

@keyframes castle
{
0% {top:0}
50% {top:2px;}
100% {top:0;}
}

/** ГўГµГ®Г¤ Гў ГЈГ®Г±ГІГЁГ­ГЄГі. ГЏГ®ГЄГ  Г¬ГҐГ­ГїГІГј Г­ГҐГ«ГјГ§Гї) */
#enterForm {     
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 0 15px #FAFAFA inset;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 0 15px #FAFAFA inset;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 0 15px #FAFAFA inset;
    margin: 30px auto auto;
    width: 220px;}
#enterForm form {padding:15px; overflow:auto;}
#enterForm input, #enterForm button {float:right;}
#enterForm div {margin-bottom:5px; color: #000; overflow:auto;}
#enterForm input {width:120px;}
#enterForm button {margin-top:3px}
.fon_enter{background:#3ca7cf url(fon_krannog.jpg) no-repeat center top; 
background-size: cover; /* Масштабируем фон */}
.fon_enter_night{background:#0c1d50 url(fon_krannog_night.jpg) no-repeat center top; 
background-size: cover; /* Масштабируем фон */}
.fon_enter center, .fon_enter_night center{left:20%;position:absolute;font-weight:bold;}

.fon_enter center, .fon_enter_night center{left:20%;position:absolute;font-weight:bold;}

/** Г±ГІГЁГ«ГЁ ГЎГ«Г®ГЄГ  ГЇГ°ГЁГ±ГіГІГ±ГІГўГіГѕГ№ГЁГµ */
.count_ball{padding:10px;}
.news{padding:10px;}
.image_left{padding:10px; overflow:auto; margin-left:4px;}
.image_left a{
	height:40px;
	float:left; 
	margin-right:20px; 
	cursor:pointer;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity:.6;
	display:block}

.left_text_img{background:url(img/turtle.png) no-repeat center top; width:35px;}
.count_ball_img{background:url(img/owl.png) no-repeat center top; width:25px;}
.image_left .news_img{background:url(img/grifon.png) no-repeat center top; width:42px; margin-right:0;}
#type_left .stat {margin-bottom:10px; padding:10px; background:rgba(255,255,255,.4);box-shadow:0 0 2px rgba(0,0,0,.25)}
#type_left .dom {font-family:arkhive; font-size:26px;}
#type_left .points {font-size:30px; display:block; margin-bottom:-15px; }

#type_left .to_private {
	display: inline-block; *display:inline; *zoom:1;
	height:16px;
	width:10px;
	background: url(img/ear.png) no-repeat 0 0;
	color:transparent;
	} 
	
#type_left .to_private:hover {-webkit-filter: hue-rotate(50deg); -moz-filter: hue-rotate(50deg);filter: hue-rotate(50deg);}
#type_left .to_ld {
	display: inline-block; *display:inline; *zoom:1;
	height:16px;
	width:16px;
	background: url(img/ear.png) no-repeat 0 -22px;
	color:transparent;
	} 

/*#type_left .to_ld:hover {-webkit-filter: sepia(100%);
-moz-filter: sepia(100%);
-o-filter: sepia(100%);
-ms-filter: sepia(100%);
filter: sepia(100%);}	*/


#type_left a[href="javascript:addnick('Р’Р°С€С‚Р° РќРµСЂР°РґР°')"] {background: url(img/scull.png) no-repeat left 0; padding: 3px 0 3px 22px; display:inline-block; *display: inline; *zoom:1;margin-bottom: -12px;}
#type_chat a[href="javascript:addnick('Р’Р°С€С‚Р° РќРµСЂР°РґР°')"] b {font-family:arkhive; font-weight:normal; font-size:18px;}
#type_chat a[href="javascript:addnick('Р­СЂСЂРёР·Р° РЎРЅРѕСѓ')"] b {color:#808000}



/** Г±ГІГЁГ«ГЁ Г¤Г«Гї ГґГ®Г°ГіГ¬Г  */
.forum_theme{width:90%;border:0;}
.center{text-align:center;}
.forum_theme td{border:3px double #ccc;padding:5px;}
.message{text-align:center;}
.smile{float:left;}
.delete{background:none;border:0;}

/* ГЄГ®Г­ГІГ ГЄГІГ» */


@media screen and (max-width:1050px) and (min-width:750px) {
#upContent li {width:auto}
#rasp a {height:45px;width: 43px;background: transparent url(img/raspisanie2.png) no-repeat top center;}
#dreada a {height:50px;width: 37px;background: transparent url(img/dreada2.png) no-repeat top center;}
#lk a {height:45px;width: 50px;background: transparent url(img/lk2.png) no-repeat top center;}
#port a {height:45px;width: 50px;background: transparent url(img/portklyuch2.png) no-repeat top center;}
#argLogo a {background:url(img/argemona-logo-shadow2.png); height:85px; width:83px;}
#hotel a {height:87px; width: 89px; background:url(img/hotel2.png) no-repeat;} 
}

@media screen and (max-width:750px){
#upContent li {width:auto}
#rasp a {height:45px;width: 43px;background: transparent url(img/raspisanie2.png) no-repeat top center;}
#dreada a {height:50px;width: 37px;background: transparent url(img/dreada2.png) no-repeat top center;}
#lk a {height:45px;width: 50px;background: transparent url(img/lk2.png) no-repeat top center;}
#port a {height:45px;width: 50px;background: transparent url(img/portklyuch2.png) no-repeat top center;}
#argLogo a {background:url(img/argemona-logo-shadow2.png); height:85px; width:83px;}
#hotel a {height:87px; width: 89px; background:url(img/hotel2.png) no-repeat;} 
}

@media screen and (max-width:700px) {
#upContent li {width:auto}
#rasp a {height:45px;width: 43px;background: transparent url(img/raspisanie2.png) no-repeat top center;}
#dreada a {height:50px;width: 37px;background: transparent url(img/dreada2.png) no-repeat top center;}
#lk a {height:45px;width: 50px;background: transparent url(img/lk2.png) no-repeat top center;}
#port a {height:45px;width: 50px;background: transparent url(img/portklyuch2.png) no-repeat top center;}
#argLogo a {background:url(img/argemona-logo-shadow2.png); height:85px; width:83px;}
#hotel a {height:87px; width: 89px; background:url(img/hotel2.png) no-repeat;} 
#upContent {width:700px}
}

/*------------------------------------HEAD'S BLOG, CONTACT, LISTS--------------------------------*/
#type_blog *, #type_forum *, #type_contact * {opacity:1}

#type_blog, #type_group, #type_contact {background: url(img/main_bg.jpg) #e4d1a4 repeat 0 0 scroll; color: #333;} /*fancy background*/
#type_blog .post, #type_blog .postComment, #type_group .groupList, .contact_page {background: #e4d1a4;} /*brown "for text" background*/
.blog {
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}
#type_blog .post, #type_blog .postComment, #type_group .groupList, .contact_page {
	margin: 20px 0;
    padding: 0 30px 20px;
    border: 1px solid #BAAA84;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
#type_blog .title, #type_group .groupHeader {
    background: none repeat scroll 0 0 #ECDFC0;
    border-bottom: 1px solid rgba(186, 170, 132, 0.9);
    display: block;
    padding: 8px 30px;
    text-transform: uppercase;
    margin: 0 -30px 10px;
	text-align:center;
	}
#type_blog .post button {float: left;margin-top: -20px; opacity:1}

#type_blog .post form, #type_blog .postComment form {float: right; margin: -10px -10px 0 0;}

#type_blog button.delete {
	float:none;
	margin-top:0;
	background: none repeat scroll 0 0 #ECDFC0;
    border: 1px none;
	}

#type_blog button {color:#F1DEA9; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); background:#4D1D6E;}
#type_blog button:hover {background:#065700;}
#type_blog button[name="submit_text"] {background:#065700;}
#type_blog button[name="submit_text"]:hover {background:#4D1D6E;}	
	
.blogName {
    font-style: italic;
    margin: 20px 0 0;
    text-align: right;
}
#type_blog .countComment {
    font-size: 12px;
    margin-bottom: 25px;
}
#textnew input {margin-bottom:10px;}
#type_blog textarea {width:100%; height:200px; margin-bottom:10px;}

#type_blog .postComment { padding: 20px 30px; background: none repeat scroll 0 0 #ECDFC0}
#type_blog p {margin-bottom: 10px}	

.table_group, .contact {width:100%; border-collapse: collapse;}
#type_group a, #type_contact a {color: #065700; opacity:1}
#type_group a:hover, #type_contact a:hover {color: #4D1D6E; position:static;}
#type_group .groupList, .contact_page {max-width:1000px; margin:20px auto;}
h1.group {    
	font-family: arkhive;
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 5px;
    padding-top: 10px;
   }
.groupsHeader, .contact_title h1 {
    color: #065700;
    font-family: arkhive;
    font-size: 60px;
    font-weight: normal;
	}
#type_group .groupHeader b {text-transform:none}
.table_group thead {font-weight:bold;}
 .contact thead {    
	background: none repeat scroll 0 0 #ECDFC0;
    border: 1px solid rgba(186, 170, 132, 0.9);
    font-family: arkhive;
    font-size: 22px;}
.table_group  tr:hover, .table_group tfoot, .contact tr:hover {background: #ECDFC0; font-weight:bold;}
.table_group tfoot td {padding: 5px 3px; font-size: 17px;}
.table_group td, .contact td {padding:3px;}
.linksHeader, .contact_link {text-align: center;}



.king{font:bold 24px Times;}
.prefect{font:bold 20px Times;}
.doj{font:bold 16px Times;}

/*------------------------------------FORUM----------------------------------------*/

#type_forum {
	background:url(img/back.jpg) top center no-repeat #4d1d6e; color: #065700;font-size:16px;
}
#type_forum a {
	-moz-transition: color 0.2s; 
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	color:#065700; opacity:1;
	font-size:16px;
	}
#type_forum a:hover {color:#4D1D6E; position:static}
#type_forum  #upContent ul {margin-left:0}
#forumHeader {
    background: url("img/header_full.png") no-repeat scroll 0 0 transparent;
    height: 340px;
    margin: auto;
    width: 982px;
}

#type_forum #upContent {    
	height: auto;
    position: relative;
    text-align: center;
    top: 90px;
	left:13px;
	background:none;
	}

#type_forum .forum, #type_forum .forum a {
	width:352px;
	height:217px;
	display:inline-block;
}
#type_forum .forum {margin-top:0}

#type_forum .forum a {background: url(img/logo.png) no-repeat;}

#type_forum .child {width:auto; line-height:180%}
#type_forum .child:first-child {text-align:right}
#type_forum .child a {font-size:20px; font-family: arkhive;}
#type_forum .last, #type_forum .prelast {position:static}


#forumBody {
    background: url("img/bg.png") repeat-y scroll center top transparent;
    margin: auto;
    padding: 0 30px 20px;
    width: 922px;
}
.breaks {
    text-align: center;
    text-transform: uppercase;
}

#type_forum .breaks a, #forumBody .tableHeader td, #forumBody .tableFooter td  {font-family: 'arkhive'; font-size:21px;}

#forumBody table {width:100%;  border-collapse: collapse; margin-top:10px; color:#065700;}
#forumBody table a {color:#4D1D6E}
#forumBody table a:hover {color:#065700}
#forumBody thead td {
    background: url("img/17.png") repeat scroll 0 0 #4D1D6E;
    color: #F1DEA9;
    font-family: arkhive;
    font-size: 25px;
    padding: 4px 7px;
    text-shadow: 1px 1px 1px #000000;
	-moz-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.48) inset, -1px -1px 3px rgba(0, 0, 0, 0.69) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.48) inset, -1px -1px 3px rgba(0, 0, 0, 0.69) inset;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.48) inset, -1px -1px 3px rgba(0, 0, 0, 0.69) inset;
}
#forumBody tbody td {
	border: 1px solid rgba(77, 29, 110, 0.27);
    padding: 3px 4px;
}

#forumBody .tableHeader td, #forumBody .tableFooter td {    
	border: 0 none;
    padding: 6px 3px 3px;}
#forumBody .tableHeader td a {font-family: arkhive;font-size: 24px; font-weight:normal;}
#forumBody .tableHeader h2 {margin-top:-20px}
#forumBody .tableFooter a {background: url("img/arrow.png") no-repeat scroll right 2px transparent; padding-right: 20px;}
#forumBody .tableFooter a:hover {background: url("img/arrow.png") no-repeat scroll right -13px transparent;}

#type_forum .pages {    
    background: url("img/pager.png") no-repeat scroll 0 -3px transparent;
    color: rgb(241, 222, 169);
    font-size: 16px;
    height: 41px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 247px;
	}
#type_forum .pages a {color:#F1DEA9; font-size: 14px;}
#type_forum .pages a:hover {text-decoration:underline;}

#xbb_editor {width:100%; height:400px; margin-top:15px;}
#type_forum .form_block {margin-bottom:10px}
#type_forum .form_block select {width: 410px;}

#type_forum .but_url {text-align: right; margin-top:10px;}

#type_forum button {
	background:#4D1D6E; 
	color:#F1DEA9; 
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgba(0, 0, 0, 0.25) inset, 2px 2px 2px rgba(255, 255, 255, 0.2) inset;}
#type_forum button:hover {background:#065700;}
#type_forum img {max-width: 820px;}
#forumFooter {background: url(img/footer.png) no-repeat; width: 982px; height: 74px; margin: 0 auto 20px;}

button[disabled] {opacity:0.3!important;}


img.barge {
    max-height: 24px;
    max-width: 24px;
}
.privates{width:100px;}
.messDiv {display: inline-block; *display:inline; *zoom:1;}
.smile_to {
    background: url("smile.png") no-repeat scroll 0 0 transparent;
    display: inline-block;*display:inline; *zoom:1;
    height: 24px;
    width: 24px;
	cursor:pointer;
}

.turn_to {
    background: url("../turnaround.png") no-repeat scroll 0 0 transparent;
    display: inline-block;*display:inline; *zoom:1;
    height: 24px;
    width: 24px;
	cursor:pointer;
}
.hotel {
    background: url("../hotel.png") no-repeat scroll 0 0 transparent;
    display: inline-block;*display:inline; *zoom:1;
    height: 24px;
    width: 24px;
	cursor:pointer;
}
.animag_to{background:url('../animag_to.png') no-repeat; border:0;font-size:0;width:24px;height:24px;box-shadow: none; cursor:pointer;}
.animag_no{background:url('../animag_no.png') no-repeat; border:0;font-size:0;width:24px;height:24px;box-shadow: none; cursor:pointer;}
.animag_to:hover{background:url('../animag_no.png') no-repeat; border:0;font-size:0;width:24px;height:24px;box-shadow: none;}
.animag_no:hover{background:url('../animag_to.png') no-repeat; border:0;font-size:0;width:24px;height:24px;box-shadow: none;}

.bottom_form img {cursor:pointer;}
.eaten {opacity:0.5}
.pointer{cursor:pointer;}

/*---------------BANHAMMER-------------------------------*/

#type_ban {font-family: arkhive; font-size: 26px; padding:10px;}
html > #type_ban {height:auto; width:auto;}
#type_ban .form {
    background: none repeat scroll 0 0 #E4D1A4;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 0 15px 15px;
    text-align: center;
}
#type_ban select[name="minute"] {margin-bottom:10px;}

#type_ban ol {    
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin-left: 0;
    }
#type_ban ol li {padding-top:10px}


/*------------------------------------------AUTUMN--------------------------------------------*/

/*#upContent {background:
url("img/poloska_autumn_up.png") repeat-x scroll 0 -4px,
url("img/trava_autumn_up.png") repeat-x scroll 0 123px;} /*сосульки-убийцы*/

/*#kranLogo li 
{text-shadow: 0 0 5px #f6fba3, 0 0 7px #f8fe9d, 0 0 10px #f8fe9d;}

#type_left #wrapper {
background:
url(img/DO_autumn.png)  0 0 repeat-y fixed  #e4d1a4 ;
} 

#type_chat img {max-width: 50%;} 

/*.chatNew{float:right; display: block; width: 108px; height: 105px; background: url(img/new_autumn.png) no-repeat; font-size: 0} /*обновлялка*/

/*#type_mess {
background-image: url(img/trava_yellow.png), url(img/main_bg.jpg);
background-position: 0 2px, 0 0;
background-repeat:repeat-x, repeat;
} /*Низ страницы*/

/*#type_blog, #type_group, #type_contact {background: 
url("img/poloska_autumn_up.png")repeat-x scroll 0 -4px,
url(img/main_bg.jpg); 
#e4d1a4 repeat 0 0 scroll; color: #333;}
/*fancy background*/

/*------------------------------------------WINTER--------------------------------------------*/
/*#lk a {
    height:120px;
    width: 100px;
    background: transparent url(img/lk_W.png) no-repeat top center;
}
#rasp a {
    height:110px;
    width: 112px;
    background: transparent url(img/raspisanie_W.png) no-repeat top center;
}

#dreada a {
    height:120px;
    width: 80px;
    background: transparent url(img/dreada_W.png) no-repeat top center;
}

#type_chat img {max-width: 50%;} 

.chatNew{float:right; display: block; width: 60px; height: 69px; background: url(img/chatnew_W.png) no-repeat; font-size: 0} /*обновлялка*/

/*#type_left, #type_stripe,  #type_up, #type_blog, #type_ban {background: url(img/main_bg_W.png) #e4d1a4 repeat 0 0 fixed;}

#type_blog, #type_group, #type_contact {background: url(img/main_bg_W.png) #e4d1a4 repeat 0 0 scroll; color: #333;} /*fancy background*/

/*#upContent {background:
url("img/poloska_winter.png") repeat-x scroll 0 -4px,
url("img/snow.png") repeat-x scroll 0 70px;} /*сосульки-убийцы*/

/*#type_chat div {box-shadow: 2px -2px 3px rgba(0,0,0,0.6) inset;}
.poloska {height:10px; background: url("img/poloska_W.png") repeat-x scroll 0 0 transparent;}
#type_mess table {width:100%;}
#type_mess {background: url(img/main_bg_W.png) #e4d1a4 repeat 0 -98px fixed;}

#type_left #wrapper {
background:
url(img/snow_spisok.png)  0 0 repeat-y fixed  #e4d1a4 ;
}
.left_text_img{background:url(img/turtle_W.png) no-repeat center top; width:35px;}
.count_ball_img{background:url(img/owl_W.png) no-repeat center top; width:25px;}
.image_left .news_img{background:url(img/grifon_W.png) no-repeat center top; width:42px; margin-right:0;} /*список присутствующих*/

/*#type_chat {background: url(img/chat_W.png) #FAF2D2 0 0 scroll; font-family: Trebuchet MS,Geneva,Ubuntu,sans-serif;} /*фон чата*/

/*#type_mess {
background:
url("img/snow.png") 0 -25px repeat-x,
url(img/main_bg_W.png) repeat 0 -98px fixed #e4d1a4 ;
} /*Низ страницы*/


/*-------------------------------------------SPRING-------------------------------------------*/ 
/*#upContent {background:
url("img/poloska_sprint_up.png") repeat-x scroll 0 -4px,
url("img/trava_up.png") repeat-x scroll 0 123px;} /*сосульки-убийцы*/

/*.chatNew{float:right; display: block; width: 108px; height: 59px; background: url(img/new.png) no-repeat; font-size: 0} /*обновлялка*/

/*#type_chat img {max-width: 50%;} 
#type_forum img {max-width: 80%;}

#type_left #wrapper {
background:
url(img/DO.png)  0 0 repeat-y fixed  #e4d1a4 ;
}

#type_blog, #type_group, #type_contact {background:
url("img/poloska_sprint_up.png")repeat-x scroll 0 -4px,
url(img/main_bg.jpg);
#e4d1a4 repeat 0 0 scroll; color: #333;}
/*fancy background*/

/*#type_mess {
background-image: url(img/trava.png), 
url(img/main_bg.jpg);
background-position: 0 2px, 0 0;
background-repeat:repeat-x, repeat;
} /*Низ страницы*/

/*------------------------------------------SUMMER--------------------------------------------*/ 
.fon_enter{background:#3ca7cf url(fon_krannog.jpg) no-repeat center top; 
background-size: cover; /* Масштабируем фон */}
.fon_enter_night{background:#0c1d50 url(fon_krannog_night.jpg) no-repeat center top; 
background-size: cover; /* Масштабируем фон */}

#upContent {background:
url("img/poloska_summer_up.png") repeat-x scroll 0 -4px,
url("img/trava_up.png") repeat-x scroll 0 123px;} /*сосульки-убийцы*/

.chatNew{float:right; display: block; width: 108px; height: 59px; background: url(img/new_summer.png) no-repeat; font-size: 0} /*обновлялка*/

#type_chat img {max-width: 50%;} 
#type_forum img {max-width: 80%;}

#type_left #wrapper {
background:
url(img/DO_summer.png)  0 0 repeat-y scroll,
url(img/DO_summer2.png)  0 0 repeat-x fixed #e4d1a4;
}

#type_blog, #type_group, #type_contact {background:
url("img/poloska_summer_up.png")repeat-x scroll 0 -4px,
url(img/main_bg.jpg);
#e4d1a4 repeat 0 0 scroll; color: #333;}
/*fancy background*/


#type_mess {
background-image: url(img/trava.png), 
url(img/main_bg.jpg);
background-position: 0 2px, 0 0;
background-repeat:repeat-x, repeat;
} /*Низ страницы*/






/*пикси*/
.piksi_add button{padding-right:25px;}
.piksi_add button:after{background:url('https://server1.kproxy.com/servlet/redirect.srv/szx/siwyxqtfp/p1/files/img/piksi.png';) no-repeat; content: " "; font-size:0; margin: -10px 0 0 2px; padding: 25px; position: absolute;}
button.piksi_add {padding-right:25px;}
button.piksi_add:after{background:url('https://server1.kproxy.com/servlet/redirect.srv/szx/siwyxqtfp/p1/files/img/piksi.png';) no-repeat; content: " "; font-size:0; margin: -10px 0 0 2px; padding: 25px; position: absolute;}


*/
/*TEMP*/
a[href="https://server1.kproxy.com/servlet/redirect.srv/szx/siwyxqtfp/p1/krannog/forum/theme/1070/1.html"] img {-moz-transition:1s; -webkit-transition:1s; transition:1s;}
a[href="https://server1.kproxy.com/servlet/redirect.srv/szx/siwyxqtfp/p1/krannog/forum/theme/1070/1.html"] img:hover {-moz-transform:rotate(360deg); -webkit-transform:rotate(360deg);transform:rotate(360deg);}