/*******************************************************************/
/*                                                                 */
/*       Таблица стилей, все по фен-шую                            */
/*                                                                 */
/*******************************************************************/

/* Задаем стиль для фона  (Ссылка на обои)*/
body {
background-image:url(http://oboi.kards.qip.ru/images/wallpaper/63/ce/52835_1280_800.jpg);
background-repeat:repeat;
background-attachment:scroll; 

 -moz-background-size: 50%;        /* Firefox 3.6+ */
 -webkit-background-size: 50%;     /* Safari 3.1+ и Chrome 4.0+ */
 -o-background-size: 50%;          /* Opera 9.6+ */
    background-size: 50%;          /* Современные браузеры */
} 


/* Задаем стиль для таблицы, в которой выволдится лекция    */
table {
 text-align: center;  /* Выравниваем текст по центру ячейки */
 width:   1000px;     /* Ширина таблицы                     */
 margin:  auto;       /* Выравниваем таблицу по центру окна */
 opacity: 0.96;       /* Полупрозрачность таблицы           */
 } 


/* Пункт списка меню     */ 
#nav ul {
 margin:  0px;	      /* Все отступы между элементами 0     */	
 padding: 0px;	      /* Внутренние отступы тоже 0          */	
 list-style:none;     /* Маркеры не показывать              */     
 width:200px;	      /* Ширина объекта                     */	
}

/* Подпункт списка меню  */
#nav li ul {
 position: absolute;  /* Кординаты относительно левого верхнего угла */
 left: 200px;	      /* родительского элемента                      */	
 top: 0;
 display: none;	      /* Не показывать сразу    	    */	
 width:150px;	      /* Ширина объекта (сократили)         */		
}